# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = ("../python-api-challenge/weather_data.csv")
weather_df = pd.read_csv(weather_data)

weather_df.head()

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kavaratti,10.5669,72.6420,301.15,55,0,1.54,IN,1614900019
1,1,Søgne,58.0833,7.8167,274.26,51,0,1.54,NO,1614900021
2,2,Carnarvon,-24.8667,113.6333,294.15,100,22,3.09,AU,1614899816
3,3,Zhangaözen,43.3000,52.8000,273.06,94,0,2.65,KZ,1614900025
4,4,Salalah,17.0151,54.0924,296.15,56,0,0.83,OM,1614900027

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
# Format and make base figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
humidity_map = gmaps.figure(layout=figure_layout)
#fig = gmaps.figure()

In [5]:
#create a list of the lat lons 
#location_list = weather_df[['Lat', 'Lon']].values.tolist()
#print to check results 
#print(location_list)
# Store latitude and longitude in locations
locations = weather_df[["Lat", "Lon"]]


locations

         Lat       Lon
0    10.5669   72.6420
1    58.0833    7.8167
2   -24.8667  113.6333
3    43.3000   52.8000
4    17.0151   54.0924
..       ...       ...
575  45.6169  -61.3485
576  51.4667  140.7833
577  18.8003  110.3967
578  26.3260   43.9750
579  26.1906  -97.6961

[580 rows x 2 columns]

In [6]:
#assign humidity as variable for heat map, convert to float 
#humidity = weather_df["Humidity"].astype(float)
# Assign the marker layer to a variable
#locations = gmaps.marker_layer(location_list)

# Add the marker layer to the map
#fig.add_layer(locations)

In [10]:

#assign humidity as variable for heat map
humidity = weather_df["Humidity"].astype(int)
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add heat layer
humidity_map.add_layer(heat_layer)

# Display figure
humidity_map

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure