# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = ("../python-api-challenge/weather_data.csv")
weather_df = pd.read_csv(weather_data)

weather_df.head()

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kavaratti,10.5669,72.6420,301.15,55,0,1.54,IN,1614900019
1,1,Søgne,58.0833,7.8167,274.26,51,0,1.54,NO,1614900021
2,2,Carnarvon,-24.8667,113.6333,294.15,100,22,3.09,AU,1614899816
3,3,Zhangaözen,43.3000,52.8000,273.06,94,0,2.65,KZ,1614900025
4,4,Salalah,17.0151,54.0924,296.15,56,0,0.83,OM,1614900027

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
# Format and make base figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

#fig = gmaps.figure()

In [5]:
#create a list of the lat lons 
#location_list = weather_df[['Lat', 'Lon']].values.tolist()
#print to check results 
#print(location_list)
# Store latitude and longitude in locations
location_list = weather_df[["Lat", "Lon"]].values.tolist()


location_list

[[10.5669, 72.642],
 [58.0833, 7.8167],
 [-24.8667, 113.6333],
 [43.3, 52.8],
 [17.0151, 54.0924],
 [71.9667, 102.5],
 [-22.9661, -42.0278],
 [-33.65, 115.3333],
 [71.9167, 114.0833],
 [-9.8, -139.0333],
 [-15.1961, 12.1522],
 [-34.5833, 150.8552],
 [39.0851, 17.1178],
 [-34.4187, 19.2345],
 [72.7868, -56.1549],
 [-46.1927, 168.8643],
 [50.2498, -118.969],
 [42.097, -79.2353],
 [39.2911, 44.4521],
 [-54.8, -68.3],
 [55.4334, -116.4858],
 [60.1432, -45.2371],
 [-23.1203, -134.9692],
 [19.75, 10.25],
 [-42.7826, 147.0587],
 [-20.3297, -40.2925],
 [62.2266, -6.5889999999999995],
 [73.5069, 80.5464],
 [40.2619, 21.5442],
 [71.2906, -156.7887],
 [68.75, 161.3],
 [-28.7667, 114.6],
 [-25.2986, 152.8535],
 [45.9192, 9.3193],
 [58.3353, 44.7619],
 [-2.8856, -40.12],
 [15.1139, 37.5928],
 [-46.6, 168.3333],
 [62.456, -114.3525],
 [-0.7393, -90.3518],
 [-33.5906, 26.891],
 [-20.1167, 16.15],
 [40.4272, 71.7189],
 [-6.7221, 146.9847],
 [-33.9258, 18.4232],
 [64.5011, -165.4064],
 [77.484, -69.3632],
 [-6.8844, 112.2051],
 [11.0297, 20.2827],
 [-34.0527, 23.3716],
 [39.5994, -110.8107],
 [44.7407, -81.1332],
 [42.6001, -73.9662],
 [19.7297, -155.09],
 [27.9769, -114.0611],
 [-20.4081, 57.7],
 [3.0707, 172.7902],
 [69.3833, 178.4167],
 [-35.3333, -72.4167],
 [-42.8794, 147.3294],
 [-38.0023, -57.5575],
 [-31.393, -58.0209],
 [-33.0153, 27.9116],
 [46.4333, 26.4],
 [-33.918, 25.5701],
 [-34.5322, 20.0403],
 [-21.2, -175.2],
 [13.4667, 79.1167],
 [65.8167, 87.9833],
 [-5.3686, -49.1178],
 [18.217, -63.0578],
 [41.751999999999995, -87.97399999999999],
 [-38.65, -72.2333],
 [10.9995, 122.6711],
 [46.843999999999994, 74.9804],
 [22.8909, -109.9124],
 [66.1451, -65.7125],
 [-20.3428, 57.7575],
 [59.7035, 30.7861],
 [-34.0033, 24.7314],
 [20.0, -3.0],
 [23.6333, 77.4333],
 [-3.7481, -73.2472],
 [-30.7414, 30.455],
 [53.9353, 139.9242],
 [28.017, -97.5169],
 [5.8933, 95.3214],
 [43.2686, -7.5406],
 [-45.4167, 167.7167],
 [-46.2817, 169.8464],
 [44.1197, 15.2422],
 [65.6145, -37.6368],
 [20.5022, -10.0711],
 [33.8658, -118.0831],
 [56.6616, 16.3616],
 [-53.15, -70.9167],
 [54.7682, -101.865],
 [57.0531, -135.33],
 [4.1363, 96.1285],
 [54.1135, 47.6231],
 [33.194, -82.5271],
 [-21.2078, -159.775],
 [-21.3585, 55.7679],
 [41.3712, -73.414],
 [39.9523, -75.1638],
 [46.4856, 135.8833],
 [-19.55, 169.2667],
 [-5.5, -45.25],
 [60.34, 102.2797],
 [34.6391, -120.4579],
 [-5.1989, -35.4608],
 [34.1748, -86.8436],
 [-35.1, 173.7833],
 [15.7432, -96.4661],
 [25.9333, -105.3667],
 [7.9178, 98.3332],
 [67.8557, 20.2251],
 [-20.2078, 57.7625],
 [-19.9842, 57.6142],
 [-8.8368, 13.2343],
 [47.6666, -52.7314],
 [58.8053, -122.7002],
 [-2.0226, 147.2712],
 [-9.8756, -56.0861],
 [-43.3002, -65.1023],
 [5.1033, 73.0708],
 [-33.7333, -70.75],
 [35.2182, 52.3409],
 [-1.5746, 9.2618],
 [-34.7333, 135.8667],
 [4.8845, -1.7554],
 [57.5384, -2.4593],
 [60.7167, -46.0333],
 [-1.2667, 104.0833],
 [14.4833, 79.9833],
 [-13.7, -76.2167],
 [31.6074, -81.8854],
 [44.3683, -100.351],
 [57.1516, 41.4732],
 [-12.6, -69.1833],
 [51.6176, 15.3149],
 [-30.1811, -50.2056],
 [57.8406, 108.3492],
 [28.3333, -105.4],
 [14.8961, -24.4956],
 [-32.8167, -56.5167],
 [12.5847, -81.7006],
 [69.4541, -133.0374],
 [35.1333, 140.3],
 [62.1444, 117.6319],
 [16.5167, -98.75],
 [49.2017, 9.5039],
 [3.7833, 72.9667],
 [28.3667, 129.4833],
 [-22.092, -70.1979],
 [43.1592, 40.3378],
 [35.0806, 109.0897],
 [33.9831, 51.4364],
 [41.0002, -115.5012],
 [47.6936, -114.1632],
 [22.0752, -159.319],
 [63.5592, 27.1907],
 [13.8065, -10.8321],
 [1.2897, 103.8501],
 [20.9, 70.3667],
 [-33.6971, -53.4616],
 [51.8336, 108.2703],
 [-24.7911, -50.0119],
 [6.1241, 81.1185],
 [-21.6403, -41.0511],
 [-33.8667, 121.9],
 [37.0594, 37.3825],
 [35.2091, -118.8284],
 [-5.6667, 132.75],
 [39.4547, 75.9797],
 [5.7947, 0.8973],
 [38.5167, -28.7],
 [-18.1667, 49.3833],
 [-2.1042, -56.4869],
 [48.9329, -125.5528],
 [-3.4067, 29.1458],
 [78.2186, 15.6401],
 [-1.2675, 116.8289],
 [70.6634, 23.6821],
 [69.1989, 33.4478],
 [25.0213, 37.2685],
 [-0.8917, 119.8707],
 [63.7506, -68.5145],
 [45.0205, -93.21799999999999],
 [-14.8333, -64.9],
 [0.5133, -76.5007],
 [61.67, 96.37],
 [-22.2763, 166.4572],
 [10.7, 37.0667],
 [14.4, 46.4667],
 [26.4024, 112.8591],
 [-20.7333, 139.5],
 [42.2506, -75.833],
 [70.4692, -68.5914],
 [64.2956, 41.9211],
 [19.8, 85.85],
 [-36.0333, 146.3833],
 [-8.145, 159.5921],
 [-7.95, 110.2833],
 [50.5167, 115.1333],
 [-16.0667, 167.3833],
 [41.5388, -8.6151],
 [40.2833, 97.2],
 [-22.4114, -47.5614],
 [30.3322, -81.6556],
 [55.9711, 37.9208],
 [64.8945, -23.7142],
 [-0.6, 73.0833],
 [67.4667, 78.7],
 [-3.8004, 102.2655],
 [31.6002, -94.6335],
 [-16.4833, -151.75],
 [43.3578, 76.8594],
 [34.6425, 109.5843],
 [-51.6226, -69.2181],
 [4.1833, 19.9],
 [-41.8697, -73.8203],
 [22.6783, -3.9836],
 [48.6499, -53.1147],
 [54.7183, 135.315],
 [-6.3264, 108.32],
 [50.6789, 156.125],
 [20.8947, -156.47],
 [70.6333, 147.9167],
 [9.5046, 35.5019],
 [65.75, 150.85],
 [-5.8092, -61.3003],
 [57.79, -152.4072],
 [65.282, -126.8329],
 [71.0357, 27.8492],
 [-25.4, -70.4833],
 [47.5001, -120.5015],
 [9.3094, 42.1258],
 [8.5711, 81.2335],
 [25.7167, -79.3],
 [64.9225, 77.785],
 [-11.7022, 43.2551],
 [-38.2667, 141.9667],
 [-33.0393, -71.6273],
 [-0.8833, 131.25],
 [55.7435, -97.8558],
 [-43.6333, 171.65],
 [-30.3023, 27.084],
 [39.1332, 16.0746],
 [21.8233, 105.2181],
 [43.6702, -7.4101],
 [-6.9811, -34.8339],
 [38.4167, 77.2406],
 [24.9056, 67.0822],
 [52.7368, 15.2288],
 [-28.783, 32.0377],
 [8.9242, -67.4293],
 [13.5928, -89.8275],
 [7.7669, -72.225],
 [20.15, 92.9],
 [37.5133, 34.0467],
 [36.0553, 14.204],
 [41.6096, -4.7969],
 [-25.1667, 45.05],
 [18.3851, 42.4509],
 [-3.945, 122.4989],
 [56.8879, 21.1859],
 [40.6576, -73.5832],
 [33.816, -78.68],
 [33.7681, 120.2517],
 [6.8774, -6.4502],
 [37.2711, -87.1764],
 [64.3833, -173.3],
 [14.9215, -23.5087],
 [26.1247, 127.6694],
 [64.2539, -15.2082],
 [-2.0428, -45.9592],
 [21.4612, -71.1419],
 [27.7167, 85.3167],
 [32.6667, -17.1],
 [52.6333, 29.7333],
 [34.7758, 72.3625],
 [26.5881, 127.9761],
 [24.1877, 102.81700000000001],
 [-25.2406, 130.9889],
 [-34.2, 142.15],
 [5.5167, 5.75],
 [42.9, 71.3667],
 [49.1541, 23.0297],
 [-3.3667, 135.4833],
 [-17.5333, -149.3333],
 [34.3834, -86.3333],
 [21.3469, -158.0858],
 [5.9485, 80.5353],
 [-2.5744, 150.7967],
 [46.4154, 3.9054],
 [61.2767, 108.0108],
 [49.2818, 1.7801],
 [-39.8833, 176.6333],
 [-15.7667, 128.7333],
 [27.180999999999997, 31.1837],
 [-23.865, 35.3833],
 [-21.3667, 55.6167],
 [-4.3167, 20.5833],
 [-6.0911, -35.2086],
 [46.6166, 10.7002],
 [38.421, -121.4238],
 [24.8, 125.2833],
 [39.7432, 98.5174],
 [5.4112, 100.3354],
 [60.9167, -46.05],
 [15.0584, 43.2851],
 [49.2333, -102.1676],
 [39.126999999999995, -9.0842],
 [-15.8631, -38.8828],
 [36.0335, -78.8664],
 [22.2855, 114.1577],
 [-0.9492, 100.3543],
 [40.8584, -74.1638],
 [14.3521, 3.3168],
 [18.6667, 105.6667],
 [43.2636, -4.0726],
 [17.3, 97.0167],
 [2.7858, 24.73],
 [-12.2333, 136.7667],
 [63.9333, 31.65],
 [-10.9814, 26.7333],
 [60.0, -1.25],
 [59.4511, 112.5578],
 [11.2833, -15.8333],
 [27.0333, 81.1667],
 [-45.8742, 170.5036],
 [40.8021, -124.1637],
 [-2.6741, 141.3028],
 [14.6937, -17.4441],
 [40.3864, -5.7634],
 [35.7333, 140.8333],
 [-45.5752, -72.0662],
 [9.25, 0.7833],
 [33.4474, 112.7142],
 [16.8634, -99.8901],
 [39.0197, 31.15],
 [-6.6447, -51.995],
 [51.3813, 1.3862],
 [43.8288, 5.7869],
 [-33.0117, 17.9442],
 [-46.1333, 167.6833],
 [-37.6167, -73.65],
 [-31.4333, 152.9167],
 [-1.95, 18.2667],
 [17.6667, 75.3333],
 [62.2057, 34.2614],
 [43.3108, 3.4758],
 [28.9889, -80.9023],
 [-34.6833, 150.8667],
 [-21.0096, 55.2707],
 [40.602, 43.095],
 [30.4833, -115.95],
 [39.05, -27.9833],
 [42.2249, -121.7817],
 [37.5683, 126.9778],
 [65.9667, 78.3667],
 [-31.95, 141.4333],
 [64.8378, -147.7164],
 [8.0777, 22.4007],
 [69.4058, 86.1778],
 [-0.5, 117.15],
 [25.3, 75.9333],
 [54.2331, -125.7533],
 [62.2028, 5.5773],
 [-6.8367, -79.9342],
 [-16.7, -151.0167],
 [-40.8135, -62.9967],
 [1.6136, 16.0517],
 [37.2548, -7.2043],
 [9.4942, 50.8122],
 [31.2156, 29.9553],
 [-8.8978, -35.1478],
 [65.5833, -171.0],
 [70.3705, 31.1107],
 [44.0361, 39.1489],
 [33.2833, 134.15],
 [44.4129, 8.9573],
 [-22.3708, -41.7869],
 [4.9247, 6.2642],
 [67.6803, 53.1512],
 [-23.1333, 150.7333],
 [69.7008, 170.3133],
 [5.3991, 100.3638],
 [26.5921, 12.7805],
 [-2.65, 10.0],
 [54.1088, 102.1648],
 [65.087, 12.3715],
 [33.3597, 129.5531],
 [46.9233, -98.0032],
 [24.4667, 54.3667],
 [-17.7333, -149.15],
 [-8.9266, 125.4092],
 [36.9716, 24.7231],
 [61.3833, 152.75],
 [48.7555, -91.6216],
 [-12.7239, 45.0582],
 [52.3333, 124.7333],
 [14.9215, -23.5087],
 [-26.6481, 15.1594],
 [40.8, -96.667],
 [-21.15, 149.2],
 [20.930999999999997, -17.0347],
 [70.8578, 29.0864],
 [55.3422, -131.6461],
 [28.1667, 94.7667],
 [29.8977, 69.5256],
 [25.5198, 90.2201],
 [37.3394, -121.895],
 [-22.116, 14.2845],
 [58.6881, 99.1844],
 [20.7667, 73.4833],
 [54.4958, 79.6671],
 [-32.5, 137.7667],
 [56.5389, 89.3011],
 [45.4794, 133.4244],
 [41.7597, 86.1469],
 [0.5738, 12.8642],
 [6.7085, 121.9711],
 [35.1167, 25.7178],
 [-13.2, 49.05],
 [71.6872, 128.8694],
 [50.1544, -5.0711],
 [4.6374, 103.4368],
 [59.3833, 143.3],
 [4.9333, -52.3333],
 [-31.2503, -61.4867],
 [66.1967, 13.0213],
 [22.5667, 59.5289],
 [54.1223, 17.9812],
 [-28.0167, 18.75],
 [-34.7633, -56.3853],
 [-37.8333, 140.7667],
 [40.1629, -8.3327],
 [52.7, 115.1667],
 [47.5833, 1.3333],
 [68.5646, 14.9108],
 [51.273, 108.84299999999999],
 [-3.6667, 152.4333],
 [43.133, -115.6912],
 [59.6481, 67.41],
 [36.9559, 36.2],
 [5.4327, -2.1428],
 [-5.795, -35.2094],
 [63.4427, -20.2734],
 [-20.3167, 118.5667],
 [36.2362, -90.0556],
 [58.3333, 68.1333],
 [37.9281, 102.6414],
 [21.4022, -157.7394],
 [33.0833, -16.3333],
 [70.9963, 24.6622],
 [25.9873, -80.2323],
 [-20.0064, 57.6608],
 [-17.7125, -39.2481],
 [-7.3817, 108.2082],
 [26.3333, 94.5333],
 [12.0564, -61.7485],
 [64.7001, 43.3936],
 [44.6995, -73.4529],
 [7.5264, -12.505],
 [60.4667, 166.1],
 [41.5284, -87.4237],
 [17.7167, 79.1833],
 [38.6908, 35.5538],
 [15.85, -97.0667],
 [70.0167, 135.6],
 [27.55, 79.6833],
 [52.7011, 118.8077],
 [57.5058, -1.7981],
 [21.4447, -157.8378],
 [29.0331, 21.5482],
 [-15.89, -52.2567],
 [-28.45, 18.7333],
 [70.0744, 29.7487],
 [12.1791, 125.5072],
 [40.5992, -77.5714],
 [40.5982, -124.1573],
 [62.7084, 56.1964],
 [38.4204, -81.7907],
 [48.0388, 38.5969],
 [27.9167, 96.1667],
 [-9.7024, 33.2697],
 [-17.3019, 31.3306],
 [39.1834, -84.5333],
 [-41.4122, 175.5153],
 [-17.397000000000002, 32.2268],
 [-20.7377, 116.8463],
 [48.0667, 24.2333],
 [67.6333, 134.6333],
 [61.9875, 5.1352],
 [12.4841, 123.3827],
 [49.8224, 19.0469],
 [5.1053, -1.2466],
 [48.0056, 91.6419],
 [49.4992, -98.0016],
 [34.4133, -119.861],
 [-0.1934, -74.7819],
 [13.4167, 75.25],
 [63.8424, -22.4338],
 [50.06, 43.2379],
 [48.0448, 40.045],
 [68.2191, -135.0107],
 [58.6031, 125.3894],
 [60.1545, -1.1494],
 [41.7711, 34.8709],
 [-33.3833, 148.0167],
 [43.801, 87.6005],
 [39.8885, 4.2658],
 [-33.8679, 151.2073],
 [52.3342, -6.4575],
 [37.9407, 22.9573],
 [37.7333, -25.6667],
 [-26.8241, -65.2226],
 [-17.0, 145.4333],
 [32.6535, 35.6854],
 [42.1584, -72.3287],
 [4.7485, -6.6363],
 [-8.65, 115.2167],
 [35.1711, 118.8289],
 [53.5289, 57.5372],
 [68.0531, 39.5131],
 [51.2585, -80.6094],
 [39.5657, 2.5062],
 [36.8529, -75.97800000000001],
 [49.2167, 143.1167],
 [27.9054, -15.4461],
 [24.0567, 120.4352],
 [69.4865, 88.3972],
 [59.4307, 62.3497],
 [58.0106, 114.2769],
 [60.8697, 60.4153],
 [37.1904, 10.1837],
 [28.0667, 95.3333],
 [-23.7, 133.8833],
 [51.3789, 0.5279],
 [36.3703, 30.2869],
 [56.9064, 118.2631],
 [48.2893, 18.5315],
 [5.6667, 73.0],
 [50.8552, 0.5729],
 [-20.5167, 57.5167],
 [-3.1374, 142.3475],
 [5.9179, 0.9879],
 [-0.1303, -67.0892],
 [37.1041, -113.5841],
 [37.7167, -25.4333],
 [67.45, 153.6833],
 [-31.4707, 19.776],
 [-10.75, -77.7667],
 [6.8833, 73.1],
 [-4.2761, -55.9836],
 [51.1632, 41.151],
 [11.6667, 92.75],
 [34.1667, 77.5833],
 [49.6, 117.4333],
 [64.434, 76.5026],
 [6.75, 11.8167],
 [55.6821, 69.2056],
 [36.365, 6.6147],
 [10.8956, -1.0921],
 [6.6221, 73.07],
 [-2.9248, -39.9167],
 [56.9523, 63.2513],
 [22.9333, 57.5333],
 [61.1272, 21.5113],
 [6.4965, 2.6036],
 [35.035, 10.9081],
 [44.0787, -80.2041],
 [62.0025, 132.4325],
 [45.6169, -61.3485],
 [51.4667, 140.7833],
 [18.8003, 110.3967],
 [26.326, 43.975],
 [26.1906, -97.6961]]

In [6]:
#assign humidity as variable for heat map, convert to float 
#humidity = weather_df["Humidity"].astype(float)
# Assign the marker layer to a variable
#locations = gmaps.marker_layer(location_list)

# Add the marker layer to the map
#fig.add_layer(locations)

humidity_map = gmaps.figure(layout=figure_layout)

In [7]:

#assign humidity as variable for heat map
humidity = weather_df["Humidity"].astype(float)

# Create heat layer
heat_layer = gmaps.heatmap_layer(location_list, weights=humidity, 
                                 dissipating=False, max_intensity=500,
                                 point_radius=1, opacity = .1)


# Add heat layer
humidity_map.add_layer(heat_layer)

#humidity_map.add_layer(locations)

# Display figure
humidity_map

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
#Narrow down the DataFrame to find your ideal weather condition. For example:
#A max temperature lower than 80 degrees but higher than 70.
#Wind speed less than 10 mph.
#30% cloudiness because when you sort by cloudiness you see it will eliminate basically all data points of you do zer0o
#Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

weather_df.head()

#convert max temp to farenheit
#1.8([max temp] - 273) + 32 
weather_df['Max Temp F'] = ((1.8*(weather_df["Max Temp"] - 273)) + 32)

weather_df.head()

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Max Temp F
0,0,Kavaratti,10.5669,72.6420,301.15,55,0,1.54,IN,1614900019,82.670
1,1,Søgne,58.0833,7.8167,274.26,51,0,1.54,NO,1614900021,34.268
2,2,Carnarvon,-24.8667,113.6333,294.15,100,22,3.09,AU,1614899816,70.070
3,3,Zhangaözen,43.3000,52.8000,273.06,94,0,2.65,KZ,1614900025,32.108
4,4,Salalah,17.0151,54.0924,296.15,56,0,0.83,OM,1614900027,73.670

In [9]:
#clean_df = weather_df.copy()
#clean_df.sort_values(by=['Cloudiness'], ascending = True)

In [23]:
#perfect golfing weather
weather_params = weather_df.dropna()
weather_params_clean = weather_params.loc[(weather_params['Max Temp F'] >=60) & (weather_params['Max Temp F'] <= 75)]
weather_params_clean = weather_params_clean.loc[(weather_params_clean['Wind Speed'] <=10) & (weather_params_clean['Cloudiness']>=20)]


weather_params_clean

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Max Temp F
2,2,Carnarvon,-24.8667,113.6333,294.15,100,22,3.09,AU,1614899816,70.070
7,7,Busselton,-33.6500,115.3333,292.59,99,94,4.19,AU,1614900032,67.262
15,15,Mataura,-46.1927,168.8643,288.71,64,96,3.58,NZ,1614900050,60.278
37,37,Bluff,-46.6000,168.3333,288.71,64,88,3.58,NZ,1614900095,60.278
40,40,Port Alfred,-33.5906,26.8910,293.15,92,51,2.24,ZA,1614899841,68.270
...,...,...,...,...,...,...,...,...,...,...,...
554,554,Barranca,-10.7500,-77.7667,295.23,83,54,1.85,PE,1614901311,72.014
562,562,Banyo,6.7500,11.8167,292.98,25,26,1.90,CM,1614901331,67.964
572,572,Djebeniana,35.0350,10.9081,289.15,77,40,7.20,TN,1614901355,61.070
577,577,Wanning,18.8003,110.3967,295.73,90,34,1.38,CN,1614901366,72.914
579,579,Harlingen,26.1906,-97.6961,295.93,73,90,7.72,US,1614901372,73.274

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [63]:
hotel_df = weather_params_clean.copy()
hotel_name = []
#hotel_df['Hotel Name'] = " "
hotel_df
hotel_df.dropna()

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Max Temp F
2,2,Carnarvon,-24.8667,113.6333,294.15,100,22,3.09,AU,1614899816,70.070
7,7,Busselton,-33.6500,115.3333,292.59,99,94,4.19,AU,1614900032,67.262
15,15,Mataura,-46.1927,168.8643,288.71,64,96,3.58,NZ,1614900050,60.278
37,37,Bluff,-46.6000,168.3333,288.71,64,88,3.58,NZ,1614900095,60.278
40,40,Port Alfred,-33.5906,26.8910,293.15,92,51,2.24,ZA,1614899841,68.270
...,...,...,...,...,...,...,...,...,...,...,...
554,554,Barranca,-10.7500,-77.7667,295.23,83,54,1.85,PE,1614901311,72.014
562,562,Banyo,6.7500,11.8167,292.98,25,26,1.90,CM,1614901331,67.964
572,572,Djebeniana,35.0350,10.9081,289.15,77,40,7.20,TN,1614901355,61.070
577,577,Wanning,18.8003,110.3967,295.73,90,34,1.38,CN,1614901366,72.914
579,579,Harlingen,26.1906,-97.6961,295.93,73,90,7.72,US,1614901372,73.274

In [64]:
#make list of lat/lons by merging the columns

#location = hotel_df[["Lat", "Lon"]].values.tolist()
#location

In [65]:
#use for loop to pull hotel names and append to the empty list made earlier 

for i, row in hotel_df.iterrows():
    city = row["City"]
    target_coordinates = f"{row['Lat']}, {row['Lon']}"
    
#target_coordinates = location
    target_search = "hotel"
    target_radius = 5000
    target_type = "hotel"

    params = {
        "location" : target_coordinates,
        "keyword" : target_search,
        "radius" : target_radius,
        "type": target_type,
        "key" : g_key,
    }

    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    response_json = requests.get(url, params=params).json()
    #hotel name lives under the results list 
    results = response_json['results']
    try:
        print(f"First search return for {city} is {results[0]['name']}.")
        hotel_name.append(results[0]['name'])
    
        #hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
    except:
        hotel_name.append("")
        #print("Skipping...")

#print(json.dumps(response, indent = 4)) to check where the hotel name lives then circle back to write code for how to add the hotel name

First search return for Carnarvon is Carnarvon Sea Change Apartments.
First search return for Busselton is The Sebel Busselton.
First search return for Mataura is Southland Organic Farmstay.
First search return for Bluff is Land's End Boutique Hotel.
First search return for Port Alfred is Royal St Andrews Hotel.
First search return for Plettenberg Bay is The Plettenberg Hotel.
First search return for Guerrero Negro is Hotel TerraSal.
First search return for Mar del Plata is NH Gran Hotel Provincial.
First search return for Concordia is Cristobal Hotel Boutique.
First search return for East London is Blue Lagoon Hotel.
First search return for Port Elizabeth is Kingsworth Inn.
First search return for Bredasdorp is Carneddie Cottage.
First search return for Berasia is White House.
First search return for Port Shepstone is 23Ambleside holiday retreat.
First search return for San Patricio is Motel 6 Sinton, TX.
First search return for Kaitangata is Kaitangata Motor Camp.
First search return for Barra do Corda is Hotel Diniz.
First search return for Alta Floresta is Hotel Caleche Park Hotel.
First search return for Port Lincoln is Port Lincoln Hotel.
First search return for Cidreira is Hotel Castelo.
First search return for São Filipe is Hotel Xaguate.
First search return for Paso de los Toros is Hotel FK Paso de los Toros.
First search return for Naze is Hotel New Amami.
First search return for Tocopilla is Entre Fuentes Y Lagos.
First search return for Kapaa is The ISO.
First search return for Chui is Bertelli Chuí Hotel.
First search return for Castro is Buganville Palace Hotel.
First search return for Esperance is Esperance Chalet Village.
First search return for Burē is Tsion Hotel.
First search return for NEDJO is Wakweya Bijare Hotel.
First search return for Taltal is HOTEL PLAZA.
First search return for Alice Town is Hilton at Resorts World Bimini.
First search return for Valparaíso is Hotel Boutique 17.
First search return for Methven is Ski Time Methven Restaurant, Accommodation & Conferences.
First search return for Zastron is Vultures Lodge.
First search return for Tuyen Quang is Mường Thanh Grand Tuyen Quang Hotel.
First search return for Sittwe is Sittwe Hotel.
First search return for Praia is Hotel Oasis Atlantico Praiamar.
First search return for Itoman is Southern Beach Hotel & Resort Okinawa.
First search return for Maracaçumé is HOTEL MODELO.
First search return for Ponta do Sol is Morning Star Villa Madeira.
First search return for Nago is HOTEL TOMAS NAGO.
First search return for Hirara is Grand Bleu Gamin.
First search return for Durham is Unscripted Durham.
First search return for Hong Kong is The Harbourview.
First search return for Vinh is Khách sạn Hoàng Ngân 2.
First search return for Likasi is Hotel Tshalukambo.
First search return for São Félix do Xingu is Hotel Serrano.
First search return for Tuatapere is Last Light Lodge.
First search return for Saint-Paul is Villa Maido luxe.
First search return for San Quintín is Old Mill Hotel.
First search return for Broken Hill is Royal Exchange Hotel.
First search return for Viedma is Casa Crespo Hotel Boutique.
First search return for Lepe is La Noria.
First search return for Bandarbeyla is JABIR HOTEL.
First search return for Praia is Hotel Oasis Atlantico Praiamar.
First search return for San Jose is DoubleTree by Hilton Hotel San Jose.
First search return for Makokou is Hôtel Bélinga.
First search return for Mount Gambier is The Old Mount Gambier Gaol.
First search return for Camacha is Pestana Porto Santo.
First search return for Tezu is Hotel Shivam.
First search return for Chitipa is Tulipoka Lodges.
First search return for Bindura is Rutati Guest House.
First search return for Mutoko is Mutoko Hotel.
First search return for Sydney is Sydney Boutique Hotel.
First search return for Agüimes is HC Luxe.
First search return for Lukang is 鹿港澄悅商旅.
First search return for Pāsighāt is Serene Guest House.
First search return for São Gabriel da Cachoeira is Hotel Roraima.
First search return for Barranca is Gran Caral Hotel.
First search return for Banyo is Hôtel Municipal de Banyo.
First search return for Wanning is Jinnanyuan Hotel.
First search return for Harlingen is Hampton Inn & Suites Harlingen.

In [66]:
hotel_df['Hotel Name'] = hotel_name
hotel_df.dropna(how = 'any')
hotel_df.head()

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Max Temp F,Hotel Name
2,2,Carnarvon,-24.8667,113.6333,294.15,100,22,3.09,AU,1614899816,70.070,Carnarvon Sea Change Apartments
7,7,Busselton,-33.6500,115.3333,292.59,99,94,4.19,AU,1614900032,67.262,The Sebel Busselton
15,15,Mataura,-46.1927,168.8643,288.71,64,96,3.58,NZ,1614900050,60.278,Southland Organic Farmstay
37,37,Bluff,-46.6000,168.3333,288.71,64,88,3.58,NZ,1614900095,60.278,Land's End Boutique Hotel
40,40,Port Alfred,-33.5906,26.8910,293.15,92,51,2.24,ZA,1614899841,68.270,Royal St Andrews Hotel

In [53]:
#add list to the hotel name column by converting to series first
hotel_name_series = pd.Series(hotel_name)
hotel_df['Hotel List'] = hotel_name_series.values
hotel_df

ValueError: Length of values (93) does not match length of index (81)

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

KeyError: 'Hotel Name'

In [ ]:
# Add marker layer ontop of heat map


# Display figure